{{ block title }}Survey{{ endblock }}
{{ block content }}
<!-- 11. Survey (PEQ Questions)  -->

    <!-- html styling -->
    <style>
        table td, table th {
            text-align: center;
            vertical-align: middle;
            font-weight:normal; /*unbolds all rows*/
        }
        .first-column {
            text-align: left;
        }
    </style>

    <p style="font-size: larger;">
    <strong>Please answer the following questions about your experience in this study.</strong>
    </p>

<table class="table">  <!-- Table for vote preference -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.PreferenceTable %}
            <th><strong>{{ choice }}</strong></th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(0, 7) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th style="text-align: left;"> <!-- Row header for the vote_preference label -->
            {% if participant.vars.policy_vote == "Remote" %}
                <p>To what extent did you prefer the fully remote policy you voted for over the hybrid policy?</p>
            {% else %}
                <p>To what extent did you prefer the hybrid policy you voted for over the fully remote policy?</p>
            {% endif %}
        </th>
        {% for choice in form.vote_preference %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
</table>

<br>

<table class="table">  <!-- Table for Affect -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.AffectChoiceTable %}
            <th><strgon>{{ choice }}</strong></th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(-3, 4) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column">{{form.affect.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.affect %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
</table>

<br>

<table class="table">  <!-- Table for Vote_Fair -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.StandardChoiceTable %}
            <th><strong>{{ choice }}</strong></th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(-3, 4) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column">{{form.vote_fair.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.vote_fair %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
</table>

<br>

<table class="table">  <!-- Table for identity -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.StandardChoiceTable %}
            <th><strong>{{ choice }}</strong></th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(-3, 4) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column">{{form.identity_identify.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.identity_identify %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
         <tr>
        <th class="first-column">{{form.identity_happy.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.identity_happy %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
    </tr>
         <tr>
        <th class="first-column">{{form.identity_like.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.identity_like %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
</table>

<br>

<style>
    .table td:nth-child(n+2):nth-child(-n+8) {
        width: 100px; /* Adjust this value to your preference */
    }
</style>

<table class="table">  <!-- Table for blame/sympathy/deservingness -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.FeelChoiceTable %}
            <th><strong>{{ choice }}</strong></th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(0, 7) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column">{{form.blame.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.blame %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
         <tr>
        <th class="first-column">{{form.sympathy.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.sympathy %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
        </tr>
         <tr>
        <th class="first-column">{{form.deserving.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.deserving %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
</table>

<br>

<table class="table">  <!-- Table for Fair_Help -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.StandardChoiceTable %}
            <th><strong>{{ choice }}</strong></th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(-3, 4) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column">{{form.fair_help.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.fair_help %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
</table>


<br>

<table class="table">  <!-- Table for Equality -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.EqualityTable %}
            <th><strong>{{ choice }}</strong></th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(-3, 4) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column">{{form.equality.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.equality %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
</table>

<br>

<style>
    .no-margin {
        margin: 0;
    }
</style>

{% if participant.vars.policy_vote == "Remote" %}
    <p class="no-margin"><b>At the time you voted for the fully remote work policy, which of the two policies did you <u>expect</u> to win?</b></p>
{% else %}
    <p class="no-margin"><b>At the time you voted for the hybrid work policy, which of the two policies did you <u>expect</u> to win?</b></p>
{% endif %}

<tag id="expectation_valence">{{ form.expectation_valence}}</tag>


<br>

<table class="table" id="expectation_strength_table" style="display: none;">  <!-- Table for expectation_strength -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.ConfidenceTable %}
            <th><strong>{{ choice }}</strong></th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(0, 7) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column" id="expectation_strength_label">{{form.expectation_strength.label}}</th> <!-- Row header for the expectation_strength label -->
        {% for choice in form.expectation_strength %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
</table>

<br>

<p>
    Please click Next to advance to the next page.
</p>

    {{ next_button }}

<!-- This code is for updating the expectation strength form label-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {
   $('input[name="expectation_valence"]').change(function() {
       var label = ""; // Default label
       var strength_table = document.getElementById("expectation_strength_table");
       if ($('#id_expectation_valence-1').is(':checked')) {
           strength_table.style.display = 'block';
       } else if ($('#id_expectation_valence-0').is(':checked')) {
           strength_table.style.display = 'block';
        } else  {
            strength_table.style.display = 'none';
        }
       if ($('#id_expectation_valence-0').is(':checked')) {
           label = "How confident were you that the fully remote policy would win the vote?";
       } else if ($('#id_expectation_valence-1').is(':checked')) {
           label = "How confident were you that the hybrid policy would win the vote?";
       }
        // Update the label for expectation_strength
        $('#expectation_strength_label').text(label);
    });
});
</script>

{{ endblock }}
