{{ block title }}Payoff{{ endblock }}
{{ block content }}
<!-- 5.1 Main Group Payoff (Pg 14) -->

    <p>
        <p>
            Please recall that you were provided with 100 help points (where 1 point = $0.01)
            that you could use to help your partner or keep for yourself.
        </p>
        <p>
            You decided to give your partner {{ player_giving }} help points ({{ gave_dollars}}),
            therefore you kept {{kept_points}} help points ({{ kept_dollars}}) for yourself.
        </p>
{% if participant.vars.other_timed_out == 1 %}
    <p>
        Although you were unaware of this at the time, when you had the opportunity to help your partner, your partner also
        had the opportunity to help you. However, your partner was unable to complete the study.
        As a result, you were awarded the maximum possible amount of help points that your partner could have given you.
    </p>
    <p>
        Thus, you received 100 help points ($1.00).
    </p>
{% endif %}
{% if not participant.vars.other_timed_out == 1 %}
    <p>
        Although you were unaware of this at the time, when you had the opportunity to help your partner,
        your partner also had the opportunity to help you. Your partner chose to give you
        {{other_giving}} help points ({{received_dollars}}).
    </p>
{% endif %}
    <p>
        Therefore, your payoff is as follows:
    </p>
    <p>
        Help points kept: <strong>{{ kept_dollars }}</strong>
    </p>

    {% if participant.vars.other_timed_out %}
        <p>
            Maximum help points received: <strong>$1.00</strong>
        </p>
    {% endif %}
    {% if not participant.vars.other_timed_out%}
        <p>
            Help points received from partner: <strong>{{ received_dollars }}</strong>
        </p>
    {% endif %}

    <p>
       Participation fee: <strong>{{ participation_fee }}</strong>
    </p>
    <p>
        Total payoff = <strong>{{ earnings }}</strong>.
    </p>
    <p>
        Please click Next to advance to the next page.
    </p>
<p></p>
    {{ next_button }}
</p>
{{ endblock }}
