{{ block title }}Questions About Partner{{ endblock }}
{{ block content }}
<!-- 11. Survey Identity Questions PEQ (Main Group) -->

    <style>
        table td, table th {
            text-align: center;
            vertical-align: middle;
        }
        .first-column {
            text-align: left;
        }
    </style>

    <p style="font-size: larger;">
    <strong>Please answer the following questions.</strong>
    </p>

<table class="table">  <!-- Table for identity -->
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for choice in C.StandardChoiceTable %}
            <th>{{ choice }}</th> <!-- Column headers for the standard choices -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column"></th> <!-- Empty header for the first column -->
        {% for i in range(-3, 4) %}
            <td><strong>{{ i }}</strong></td> <!-- Data cells for the integers -3 to 3 -->
        {% endfor %}
    </tr>
    <tr>
        <th class="first-column">{{form.identity_identify.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.identity_identify %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
         <tr>
        <th class="first-column">{{form.identity_happy.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.identity_happy %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
    </tr>
         <tr>
        <th class="first-column">{{form.identity_like.label }}</th> <!-- Row header for the vote_preference label -->
        {% for choice in form.identity_like %}
            <td>{{ choice }}</td> <!-- Data cells for the choices -->
        {% endfor %}
    </tr>
</table>


<p>
    Please click Next to advance to the next page.
</p>

    {{ next_button }}



{{ endblock }}
